<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="V4BPii1wQGwOdry9RSGImpopC3UYkKO854vitAI1pBz8bD3U8MddLFBe3YcZiNTkpAdjL0pj7PUBCSDSI3FNOQ==">

    <%= yield %>
  </body>
</html>
